.Worksheet {
  height: calc(100vh - 17rem);

  #Inputs {
    width: 100%;
    background: #eee;
    border: 1px solid #aaa;
    text-align: center;
    padding-bottom: 0.2rem;
  }

  .dropZone {
    border: 1px dashed black;
    padding: 20;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #eee;
    z-index: 10000;
  }

  .sideButtons {
    height: calc(100vh - 17rem);
    width: 9rem;
    background: #eee;
    overflow: auto;
    border: 1px solid #aaa;
    
    button {
      width: 7.5rem;
      text-align: left;
      font-size: 9pt;
    }
  }

  button {
    margin: 0 0.2rem;
  }
  
  .selected {
    background: lightgreen;
  }

  table {
    font: 13px arial;
  }

  th {
    background: #eee;
    vertical-align: bottom;
  }

  .data, pre {
    width: 100%;
    max-height: calc(100vh - 17rem);
    overflow: auto;
    border: 1px solid #ccc;
  }

  .data {
    position: absolute;
    top: 15rem;
    left: 12rem;
    width: calc(100% - 15rem);
  }

  pre {
    padding: 10px;
    margin: 0;
    font: 13px consolas, monospace;
    background: lightyellow;
    height: 100%;
  }

  section summary {
    font: 13px arial;
    font-weight: bold;
    background: #eee;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0;
    border-top: 1px solid #aaa;
  }

  .match summary {
    background: lightgreen !important;
  }
  
  .mismatch summary {
    background: orange !important;
  }
  
  .missing summary {
    background: red !important;
  }

  #Charts {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 1;

    .chart {
      width: 100%;
      height: 20vh;
      border: 1px solid black;
      padding: 0.5rem;
      background: white;
    }
  }
}
